# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Flask
instance/
.webassets-cache

# Node
node_modules/
dist/
.npm
.eslintcache

# Project Specific
uploads/
# model/artifacts/ removed so models can deploy
*.log
*.sqlite
*.db
.vercel
